/* ***** Header.tsx ***** */
.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.search {
  width: 50%;
}

.badge {
  top: 10px !important;
  left: -5px !important;
  background-color: transparent !important;
}

.drop_menu {
  padding: 0;
  right: 0 !important;
  left: inherit !important;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #eee;
}

.cartItem__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItem__detail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}
/* ***** Home.jsx ***** */
.home {
  display: flex;
}

.closed {
  min-width: 100px !important;
  margin: 25px 0 0 25px;
}

.productContainer {
  display: flex;
  width: 100%;
  padding: 20px 10px 10px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* ***** Filters.jsx ***** */
.filters {
  position: sticky;
  top: 112px;
  background-color: #343a40;
  color: white;
  padding: 20px ;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0 0 0 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
  font-size: 20px;
}

.title {
  font-size:25px !important;
}
/* ***** SingleProduct.jsx ***** */
.product {
  min-width: 180px;
  max-width: 20%;
  margin: 10px 5px 5px 5px;
}
/* ***** Cart.jsx ***** */
.summary {
  width: 30%;
}
.row {
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .products {
    width: 33%;
  }
}

@media (max-width: 649px) {

  .search {
    position: absolute;
    top: 60px;
    width: calc(100% - 2rem);
  }
  .home {
    flex-direction: column;
  }

  .filters {
    top: 80px;
    margin: 0;
    padding-top: 50px;
    z-index: 1;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .filters > button {
    width: 100%;
  }
}
